<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Spring MVC ReST Exception Handling Example WebApp</display-name>
  <listener>
    <listener-class>com.pradeya.cast.util.LogbackConfigListener</listener-class>
  </listener>
  <context-param>
    <param-name>com.fp.logback.location</param-name>
    <param-value>/WEB-INF/logback.xml</param-value>
  </context-param>
  <context-param>
    <param-name>com.fp.logback.default</param-name>
    <param-value>info</param-value>
  </context-param>
  <servlet>
    <servlet-name>rest</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>rest</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
</web-app>